body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-tabla div p {
  text-align: left;
}

@media(max-width: 600px) {
  .css-zxdg2z{
    padding-left: 0 !important;
  }

  .css-1ss2ei0-MuiContainer-root{
    padding-left: 0;
  }

}